# 데이터사이언스 중간고사 (Take Home Exam) 
## <span style="color:orange">2018-10-27(토) 까지 하이포탈 과제함에 제출</span>

## Data Preparation

In [1]:
%matplotlib inline

# Import Dependencies
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [2]:
# Seperate Data into Features and Labels and load them as a Pandas Dataframe
# Features
features_df = pd.read_csv('ds_midterm2018.csv', usecols=[1,2,3,4,5,6,7,8,9,10,11,12,13])
features_df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [3]:
# Get the shape of the features
features_df.shape

(500, 13)

In [4]:
# Describe the Dataset
features_df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,3.635786,11.500000,11.131740,0.070000,0.554451,6.282970,68.424600,3.811932,9.642000,409.624000,18.428600,356.208040,12.698740
std,8.639677,23.428739,6.900712,0.255403,0.116550,0.705421,28.272145,2.112591,8.715604,168.998579,2.162553,91.741874,7.164928
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082598,0.000000,5.130000,0.000000,0.448750,5.883000,44.225000,2.087875,4.000000,281.000000,17.225000,375.085000,6.990000
50%,0.266005,0.000000,9.125000,0.000000,0.538000,6.208500,77.150000,3.267450,5.000000,330.000000,19.000000,391.305000,11.430000
75%,3.681942,12.500000,18.100000,0.000000,0.624000,6.620500,94.100000,5.214600,24.000000,666.000000,20.200000,396.157500,17.092500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [5]:
# Labels
labels_df = pd.read_csv('ds_midterm2018_label.csv', usecols=[1])

labels_df.head()

   labels
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2

In [6]:
# Get the shape of the labels
labels_df.shape

(500, 1)

In [7]:
X_train = features_df
y_train = labels_df

In [8]:
# Normalize Data
from sklearn.preprocessing import StandardScaler

In [9]:
# Define the Preprocessing Method and Fit Training Data to it
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [10]:
# Make X_train to be the Scaled Version of Data
# This process scales all the values in all 6 columns and replaces them with the new values
X_train = pd.DataFrame(data=scaler.transform(X_train), columns=X_train.columns, index=X_train.index)

In [11]:
# Converting from Pandas Dataframe to Numpy Arrays
X_train = np.array(X_train)
y_train = np.array(y_train)

In [12]:
# Get the Type of Training Data
type(X_train), type(y_train)

(numpy.ndarray, numpy.ndarray)

## Define Tensorflow Model

#### <span style="color:red">아래 셀에서 값들을 적당히 수정하세요</span>

In [13]:
# Define Training Parameters

# Learning Rate 
lr = 0.001 # 수정

# Number of epochs for which the model will run
epochs = 20 # 수정

#### <span style="color:red">아래 셀을 실행하면 에러가 발생합니다. 에러를 없애기 위해 조치하세요</span>

In [1]:
# Define Features and Label Placeholders

import tensorflow as tf

# Features
X = tf.placeholder(tf.float32,[None,X_train.shape[1]])

# Labels 
y = tf.placeholder(tf.float32,[None,1])

ModuleNotFoundError: No module named 'tensorflow'

#### <span style="color:red">아래 셀을 완성하세요</span>

In [ ]:
# Define Hyperparameters

# Weight
W = tf.Variable( ) # 괄호안을 채워 넣으세요

# Bias
b = tf.Variable( ) # 괄호안을 채워 넣으세요

In [ ]:
# Initiaize all Variables
init = tf.global_variables_initializer()

#### <span style="color:red">아래 셀에서 loss를 정의하세요</span>

In [ ]:
# Define Loss Function, Optimizer and the Output Predicitons Function

# Predictions
# y_hat = (W*X + b)
y_hat = tf.add(tf.matmul(X, W), b)

# Loss Function
loss=  # LOSS 함수를 여기에

# Gradient Descent Optimizer to Minimize the Cost
optimizer = tf.train.GradientDescentOptimizer(learning_rate=lr).minimize(loss)

In [ ]:
# Tensor to store the cost after every Epoch
# Comes in handy while plotting the cost vs epochs
loss_history = np.empty(shape=[1],dtype=float)

## Train the Model

In [ ]:
with tf.Session() as sess:
    # Initialize all Variables
    sess.run(init)
    err=sess.run(loss, feed_dict={X: X_train, y: y_train})
    print('Epoch: 0, Error: {0}'.format(err))
    
    for epoch in range(1,epochs):
        # Run the optimizer and the cost functions
        result= sess.run(optimizer, feed_dict={X: X_train, y: y_train})
        err = sess.run(loss, feed_dict={X: X_train, y: y_train})

        
        # Add the calculated loss to the array
        loss_history = np.append(loss_history,err)
        
        # Print the Loss/Error after every 100 epochs
        if epoch%100 == 0:
            print('Epoch: {0}, Error: {1}'.format(epoch, err))
            
    
    print('Epoch: {0}, Error: {1}'.format(epoch+1, err))
    
    # Values of Weight & Bias after Training
    new_W = sess.run(W)
    new_b = sess.run(b)

    # Predicted Labels
    y_pred = sess.run(y_hat, feed_dict={X: X_train})
    
    # Error: MSE or MAE
    error = # 계산

In [ ]:
# New Value of Weights 
print('Trained Weights: \n', new_W)

In [ ]:
# New Value of Biases
print('Trained Bias: \n', new_b)

## Loss vs Epochs Plot

#### <span style="color:red">아래 셀을 실행하면 에러가 발생합니다. 에러를 없애기 위해 조치하세요. 실행하면 그림이 보여야 합니다.</span>

In [ ]:
plt.plot(range(len(loss_history)),loss_history)
plt.axis([0,epochs,0,np.max(loss_history)])
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.title('Loss vs Epochs', fontsize=25)
plt.show()

## Print Result

In [ ]:
# Predicted Values
print('Predicted Values: \n',y_pred)

In [ ]:
# Error
print('Error [TF Session]: ',error)